{% extends "common_stuff/base.html" %}

{% block content %}
    <section class="section-center edit-section">
        <div class="edit-card">
            <a class="btn back-btn" href="{% url "profile-details" interest.interest_creator.pk %}">Back</a>
            <form class="edit-form" method="post" action="{% url "interest-update" interest.pk %}">
                {% csrf_token %}
                {% for field in form %}
                    <div class="edit-form-field">
                        <label>{{ field.label }}</label>
                        {{ field }}
                        {% for error in field.errors %}
                            <div class="alert alert--error update-alert">{{ error }}</div>
                        {% endfor %}
                    </div>
                {% endfor %}
                <input class="btn" type="submit" value="Update Interest"/>
            </form>
        </div>
    </section>
{% endblock content %}