{% load static %}
<header id="home">
    <nav class="navbar">
        <div class="nav-center">
            <div class="nav-header">
                <a href="{% url "events-list" %}">
                    <img src="{% static "images/calendar.svg" %}" class="nav-logo" alt="calendar"/>
                </a>
                <button type="button" class="nav-toggle">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            <ul class="nav-links" role="list">
                <li>
                    <a href="{% url "users-list" %}" class="nav-link scroll-link">Event Creators</a>
                </li>
                <li>
                    <a href="{% url "events-list" %}" class="nav-link scroll-link">Events</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li>
                        <a href="#" class="nav-link scroll-link">Inbox</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link scroll-link">MyProfile</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link scroll-link">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="#" class="nav-link scroll-link">Login/SignUp</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>

