@media screen and (min-width: 318px) {
    .alert {
        display: flex;
        justify-content: center;
        margin: 7rem auto;
        padding: 0 1rem;
    }

    .log-reg-error, .update-alert{
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .alert.alert--error,
    .alert.alert--error > .alert--message {
        padding-top: 0.5rem;
        max-width: 30rem;
        background: var(--clr-white);
        border-radius: 2rem;
        color: red;
    }

    .alert.alert--success,
    .alert.alert--success > .alert--message {
        padding-top: 0.5rem;
        max-width: 30rem;
        background: var(--clr-white);
        border-radius: 2rem;
        color: green;
    }
}