.section-center.creators-center {
    max-width: 1360px;
}

.creator-card {
    display: flex;
    border-radius: 1rem;
    background-color: var(--clr-grey-5);
    border: 0.2rem solid var(--clr-primary-8);
    margin-bottom: 2.5rem;
    padding: 1rem 2rem;
    transition: var(--transition);
}

.creator-card:hover {
    box-shadow: var(--ultra-dark-shadow);
    transition: var(--transition);
}

.card-body {
    padding: 2rem 2.5rem;
}

.creator-profile {
    display: flex;
    gap: 5rem;
}

.creator-avatar.img {
    border-radius: 50%;
    border: 2px solid var(--clr-primary-1);
    object-fit: cover;
    height: 7rem;
    width: 7rem;
}

.creator-info {
    font-family: var(--ff-primary);
    color: var(--clr-white);
}

.creator-interests {
    line-height: 0;
    text-transform: capitalize;
    color: var(--clr-white);
}

@media screen and (min-width: 420px) {
    .creators-center {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 3rem;
    }
}

@media screen and (max-width: 420px) {
    .creator-profile {
        gap: 2rem;
    }
}
