.creator-card {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-color: var(--clr-grey-3);
    border: 0.2rem solid var(--clr-primary-7);
    margin-bottom: 2.5rem;
    padding: 1rem 2rem;
    transition: var(--transition);
}

.creator-card:hover {
    box-shadow: var(--ultra-dark-shadow);
    transition: var(--transition);
}

.card-body {
    padding: 2rem 2.5rem;
}

.creator-profile {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 1rem;
}

.creator-avatar.img {
    align-self: center;
    margin-bottom: 1rem;
    border-radius: 50%;
    border: 2px solid var(--clr-primary-2);
    object-fit: cover;
    height: 7rem;
    width: 7rem;
}

.creator-interests, .creator-info {
    padding: 0.5rem;
    color: var(--clr-white);
}

.nick-name {
    color: var(--clr-primary-2);
}

@media screen and (min-width: 850px) {
    .creators-center {
        display: flex;
        justify-content: space-evenly;
        gap: 3rem;
    }
}

@media screen and (max-width: 768px) {
    .creators-center {
       max-width: 30rem;
    }
}

@media screen and (min-width: 1170px) {
    .creator-card {
        flex: 0 0 calc(33.33% - 2rem);
    }

}

