.event-card {
    transition: var(--transition);
    background: var(--clr-grey-7);
    box-shadow: var(--light-shadow);
    border-radius: 2rem;
    overflow: hidden;
}

.event-card:hover {
    box-shadow: var(--dark-shadow);
    transform: scale(1.02);
}

.event-img-container {
    position: relative;
}

.event-img {
    height: 15rem;
    object-fit: cover;
}

.event-date {
    position: absolute;
    right: 0;
    bottom: 0;
    background: var(--clr-primary-7);
    margin-bottom: 0;
    color: var(--clr-primary-2);
    padding: 0.25rem 0.5rem;
}

.event-info {
    padding: 1.25rem 1.5rem 1rem 1.5rem;
}

.event-title {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.event-title p,
.event-title h4, .event-desc {
    margin-bottom: 1.75rem;
    line-height: 1.25;
}

.event-title a {
    color: var(--clr-grey-4);
}

.event-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}

.event-footer p {
    line-height: 0;
    margin-bottom: 0;
    text-transform: capitalize;
    color: var(--clr-primary-5);
}

@media screen and (min-width: 768px) {
    .events-center {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 3rem;
    }
}

@media screen and (max-width: 767px) {
    .event-card {
        max-width: 20rem;
        margin: 0 auto 2rem;
    }
}

@media screen and (min-width: 1170px) {
    .event-card {
        flex: 0 0 calc(33.333% - 2rem);
    }
}

/*--------------------
    Event Details
--------------------*/

.single-event-info {
    padding: 1.25rem 1.5rem 1rem 1.5rem;
    margin-top: 7rem;
    margin-bottom: 5rem;
    background: var(--clr-grey-7);
    border-radius: 2rem;
    max-width: 55rem;
}

.single-event-info a {
    color: var(--clr-primary-2);
}

.single-event-info a:hover {
    color: var(--clr-primary-6);
}

.single-event-img {
    object-fit: cover;
    border-radius: 2rem;
    margin-bottom: 0.5rem;
}

.event-creator {
    margin-bottom: 1rem;
}

.event-creator a {
    color: var(--clr-primary-5);
}

.reviews {
    padding: 1.25rem 1.5rem 1rem 1.5rem;
    border: 0.3rem solid var(--clr-primary-2);
    border-radius: 2rem;
    margin-bottom: 1rem;
}