.footer {
    display: none;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--clr-primary-1);
    padding: 0.7rem;
    text-align: center;
    box-shadow: 5px 0 15px rgba(175, 254, 247, 0.6);
}

.footer p {
    color: var(--clr-white);
    margin: 0;
}