.inbox {
    margin: 8rem auto;
}

.content-box-msg {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 95%;
    max-width: 85rem;
    margin: 0 auto;
}

.inbox-title {
    color: var(--clr-primary-1);
    margin: 0 auto;
}

.inbox-title span {
    color: red;
}

.messages {
    list-style: none;
    background: var(--clr-primary-5);
    padding: 1.5rem 3rem;
    border: 2px solid var(--clr-grey-5);
    border-radius: 0.7rem;
    box-shadow: var(--ultra-dark-shadow);
}

.message {
    padding: 1rem 1rem;
    background: var(--clr-grey-5);
    border: 2px solid var(--clr-white);
    border-radius: var(--radius);
    margin-bottom: 0.5rem;
}

.message:hover {
    background: var(--clr-primary-3);
}


.message-date {
    color: var(--clr-white);
}

.message > a {
    display: flex;
    gap: 1rem;
    color: var(--clr-white);
}

.message-author,
.message-date {
    flex-basis: 25%;
}

.message-subject {
    flex-basis: 50%;
}

.message-date {
    text-align: right;
}

.single-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.single-msg a {
    margin-bottom: 1rem;
}

.msg {
    background: var(--clr-grey-4);
}

.single-message-author, .message-body {
    margin-bottom: 1rem;
    color: var(--clr-primary-7);
}

@media screen and (max-width: 420px) {
    .message > a {
        flex-direction: column;
        align-items: center;
    }
}