.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--clr-primary-1);
    box-shadow: var(--dark-shadow);
    z-index: 2;
}

.nav-icons {
    display: none;
}

.nav-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.nav-toggle {
    background: transparent;
    border: transparent;
    font-size: 1.5rem;
    color: var(--clr-primary-5);
    cursor: pointer;
    transition: var(--transition);
}

.nav-toggle:hover {
    transform: scale(1.2);
    color: var(--clr-primary-7);
}

.nav-link {
    display: block;
    padding: 1rem 2rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    transition: var(--transition);
    color: var(--clr-primary-5);
    cursor: pointer;
    font-size: 1rem;
    margin-left: 1rem;
}

.nav-link:hover {
    color: var(--clr-primary-8);
    padding-left: 2.25rem;
}

.nav-links {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.show-links {
    height: 340px;
}

@media screen and (min-width: 992px) {
    .nav-toggle {
        display: none;
    }

    .nav-center {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-links {
        height: auto;
        display: flex;
    }

    .nav-header {
        padding: 0 0;
    }

    .nav-link {
        padding: 0 0;
        margin-right: 0.7rem;
    }

    .nav-link:hover {
        padding: 0;
        color: var(--clr-primary-8);
        background: transparent;
    }

    .nav-icons {
        display: flex;
    }
}

.nav-logo {
    margin-left: 1rem;
    transition: var(--transition);
}

.nav-logo:hover {
    transform: scale(1.5);
}