.pagination > ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn-page {
    text-transform: uppercase;
    background: var(--clr-primary-5);
    color: var(--clr-white);
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing);
    font-size: 0.875rem;
    border: 2px solid transparent;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.btn, .btn-page {
    border-radius: 0.5rem;
}

.search-info {
    position: absolute; /*TODO think about this here !*/
    display: flex;
    max-width: 90%;
    text-align: center;
}

@media screen and (max-width: 450px) {
    .pagination > ul {
        flex-direction: column;
        align-items: center;
    }
}
