.card {
    padding-top: 4rem;
    margin-top: 4rem;
    display: flex;
    align-content: center;
    transition: var(--transition);
    background: var(--clr-grey-10);
    box-shadow: var(--light-shadow);
    margin-bottom: 2rem;
    border-radius: 2rem;
    overflow: hidden;
}

.content-box, .delete-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete-form > h3 {
    margin-bottom: 1rem;
}

@media screen and (max-width: 574px) {
    .edit-btn, .delete-btn, .add-btn {
        max-width: 7rem;
    }
}

@media screen and (min-width: 318px) {
    .profile {
        display: flex;
        flex-direction: column;
        place-items: center;
        text-align: start;
        justify-content: center;
    }

    .card {
        max-width: 90%;
        margin-top: 7rem;
        gap: 0.2rem;
    }

    .profile-photo {
        height: 15rem;
        object-fit: cover;
        border-radius: 2rem;
        margin-bottom: 0.5rem;
    }

    .interests {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    .interest {
        background: var(--clr-grey-8);
        padding: 1rem 2rem;
        border-radius: 2rem;
    }

    .edit-btn, .delete-btn {
        margin-bottom: 0.25rem;
    }

    .add-btn {
        margin-bottom: 1rem;
    }

    .interest-edit-btn, .interest-delete-btn {
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .card, .profile-img, .profile-info, .profile-about, .profile-interests {
        padding: 1rem 2rem;
        flex-wrap: wrap;
    }

    .profile-event-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .profile-events {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 1rem;
        flex-direction: row;
    }

    .profile-event-card {
        transition: var(--transition);
        background: var(--clr-grey-10);
        box-shadow: var(--light-shadow);
        margin-bottom: 2rem;
        border-radius: 2rem;
        overflow: hidden;
        max-width: 20rem;
    }

    .no-event {
        color: var(--clr-primary-1);
        background: var(--clr-grey-10);
        padding: 1rem 2rem;
        border-radius: 2rem;
        font-size: 3rem;
    }
}

@media screen and (max-width: 437px) {
    .profile-img {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .card, .profile-img, .profile-info, .profile-about, .profile-interests {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 318px) {
    .edit-form {
        display: flex;
        flex-direction: column;
        max-width: 90%;
    }

    .edit-section {
        margin-top: 7rem;
        background: var(--clr-white);
        border: 0.3rem solid var(--clr-primary-1);
        border-radius: 2rem;
        max-width: 50rem;
    }

    .edit-card, .profile-login-register-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 2rem;
    }

    #id_about_me {
        resize: none;
    }

    #id_about_me:focus {
        background: var(--clr-grey-9);
    }

    .edit-form-field > input:focus {
        border: var(--clr-primary-1);
        background: var(--clr-grey-9);
    }

    .edit-form-field > label {
        margin-bottom: 0.2rem;
    }

    .back-btn {
        margin-bottom: 1rem;
    }
}

@media screen and (min-width: 318px) {
    .delete-profile-section {
        margin-top: 7rem;
        background: var(--clr-white);
        border: 0.3rem solid var(--clr-primary-1);
        border-radius: 2rem;
        padding-bottom: 0;
        max-width: 50rem;
    }
}