
.res-pass-btn {
    max-width: 7rem;
    align-self: center;
    margin-bottom: 1rem;
}

.pass-form {
    display: flex;
    flex-direction: column;
}

.edit-card > form > ul {
    color: var(--clr-darkpink);
}
