.review-form {
    margin-bottom: 1rem;
}

.review-form-field, .edit-form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.help-text {
    color: var(--clr-darkpink);
    margin-top: 0;
    font-size: 1.2rem;
    letter-spacing: var(--spacing);
}

.review-title {
    margin-bottom: 1rem;
}

.review-title h4, .review-text h4 {
    margin-bottom: 0.5rem;
}

#id_review_title, #id_review_text {
    width: 100%;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--clr-primary-2);
    padding: 0.3rem;
    background: var(--clr-grey-6);
    letter-spacing: var(--spacing);
}

.review-details {
    padding: 0.2rem;
}

.review-author {
    color: var(--clr-primary-5);
}