{% extends "common_stuff/base.html" %}
{% load my_date_filter %}

{% block content %}
    <main class="events">
        <section class="search-container">
            <div class="search-section">
                <div class="top-text">
                    <h2><span>Choose the best event that suits you</span></h2>
                </div>
                <div class="search-items">
                    <form class="form" action="{% url "events-list" %}" method="get">
                        <div class="form-field">
                            <label for="form-search">Search By Events </label>
                            <input class="text-input" id="form-search" type="text" name="search"
                                   placeholder="Search by Event Title"/>
                        </div>
                        <input class="search-input" type="submit" value="Search"/>
                    </form>
                </div>
            </div>
        </section>

        <section class="projects-list">
            <div class="container">
                <div class="event">
                    {% for event in events %}
                        <div class="column">
                            <div class="card-project">
                                <div class="thumbnail">
                                    <a href="{% url "event-details" event.pk %}">
                                        <img class="thumbnail-image" src="{{ event.get_event_avatar }}"
                                             alt="Event Avatar"/>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h3 class="event-title">{{ event.title }}</h3>
                                    <p>
                                        <span>
                                            {{ event.event_description|truncatechars:45 }}
                                        </span>
                                    </p>
                                    <p>
                                        <a class="event-author" href="{% url "user-details" event.creator.pk %}">
                                            {{ event.creator }}
                                        </a>
                                    </p>
                                    <p class="event-date">
                                        <span style="font-weight: bold;">Created: {{ event.created|my_filter }}</span>
                                    </p>
                                    <p>
                                        <span style="font-weight: bold;">Category:</span>
                                        <a class="event-creator">
                                            {{ event.event_category }}
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="search-info">
                            <h1>There is no matches for your search</h1>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
{#        <article class="card">#}
{##}
{#            <div class="thumbnail">#}
{#                 <img#}
{#                     class="thumbnail__img"#}
{##}
{#                       src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"#}
{#                     alt="Unsplash img"#}
{#                              />#}
{#                        </div>#}
{##}
{##}
{#            <div class="content">#}
{#                 <h2 class="content__title">Jessica Award</h2>#}
{#                 <p class="content__badge">Department Marketing</p>#}
{##}
{#                 <h3 class="content__section-title">Projects</h3>#}
{##}
{#                <ul class="content__projects" role="list">#}
{##}
{#                    <li class="project">#}
{#                         <i class="project__icon far fa-file-alt"></i>#}
{#                         <span class="project__name">Flagship design course</span>#}
{#                                    </li>#}
{##}
{##}
{#                    <li class="project">#}
{#                         <i class="project__icon far fa-file-alt"></i>#}
{#                         <span class="project__name">Social media app</span>#}
{#                                    </li>#}
{##}
{##}
{#                    <li class="project">#}
{#                         <i class="project__icon far fa-file-alt"></i>#}
{#                         <span class="project__name">Marketing app</span>#}
{#                                    </li>#}
{#                              </ul>#}
{#                        </div>#}
{#                  </article>#}
    {% if is_paginated %}
            <div class="paginator">
            <ul class="paginator-container">
            {% if page_obj.has_previous and request.GET.search %}
                <li><a href="{{ request.get_full_path }}&page={{ page_obj.previous_page_number }}"
                       class="btn-page-link"
                       data-page="{{ request.get_full_path }}&page={{ page_obj.previous_page_number }}">
                    Prev</a></li>
            {% elif page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="btn-page-link"
                       data-page="{{ request.get_full_path }}&page={{ page_obj.previous_page_number }}">
                    Prev</a></li>
            {% endif %}

            <span class="btn-page">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next and request.GET.search %}
                <li><a href="{{ request.get_full_path }}&page={{ page_obj.next_page_number }}"
                       class="btn-page-link"
                       data-page="{{ request.get_full_path }}&page={{ page_obj.next_page_number }}">Next </a>
                </li>
            {% elif page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="btn-page-link"
                       data-page="?page={{ page_obj.next_page_number }}">Next </a></li>
            {% endif %}
        {% endif %}
        </ul>
        </div>
    </main>
{% endblock content %}