{% extends "common_stuff/base.html" %}
{% load my_date_filter %}
{% block content %}
    <section class="section-center" id="events">
        <div class="section-title">
            <h2>select the <span>event</span> that suits you the best</h2>
        </div>
        <div class="search-section">
            <form class="form" action="{% url "events-list" %}" method="get">
                <div class="form-field">
                    <label for="form-search">Search By Events </label>
                    <input class="text-input" id="form-search" type="text" name="search"
                           placeholder="Search by Event"/>
                </div>
                <input class="search-input" type="submit" value="Search"/>
            </form>
        </div>
        <div class="section-center events-center">
            {% for event in events %}
                <article class="event-card">
                    <div class="event-img-container">
                        <a href="{% url "event-details" event.pk %}" class="event">
                            <img src="{{ event.get_event_avatar }}" class="event-img" alt="Event Image"/>
                        </a>
                        <p class="event-date">{{ event.created|my_filter }}</p>
                    </div>
                    <div class="event-info">
                        <div class="event-title">
                            <h4>{{ event.title|truncatechars:15 }}</h4>
                            <p><a href="{% url "user-details" event.creator.pk %}">{{ event.creator }}</a></p>
                        </div>
                        <div class="event-desc">
                            <p>{{ event.event_description|truncatechars:30 }}</p>
                        </div>
                        <div class="event-footer"><p>
                            <span>Category: {{ event.event_category }}</span>
                        </p>
                            <p>{{ tag }}</p>
                        </div>
                    </div>
                </article>

            {% empty %}
                <div class="search-info">
                    <h1>There is no matches for your search</h1>
                </div>
            {% endfor %}
        </div>
        {% include "partials/pages_pagination.html" %}
    </section>
{% endblock content %}
