{% extends "common_stuff/base.html" %}

{% block content %}
    <section class="section-center delete-profile-section">
        <div class="edit-card">
            <div class="content-box">
                <a class="btn back-btn" href="{% url "profile-details" event.creator.pk %}">Cancel</a>
                <form class="delete-form" method="post" action="{% url "event-delete" event.pk %}"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                    <h2>Are you sure you want to delete {{ event }}</h2>
                    <input class="btn" type="submit" value="Delete Event"/>
                </form>
            </div>
        </div>
    </section>
{% endblock content %}