{% extends "common_stuff/base.html" %}

{% block content %}
    <section class="section-center login-register-section">

        <div class="edit-card">
            <h3>Password reset</h3>
            <h4>Forgotten your password? Enter your email address!</h4>
            <form class="edit-form pass-form" method="POST" action="{% url "reset_password" %}">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn res-pass-btn" type="submit" value="Submit"/>
            </form>
            <a class="btn" href="{% url "login" %}">Back</a>
        </div>
    </section>
{% endblock content %}