{% load static %}

<link rel="stylesheet" href="{% static "styles/my_styles.css" %}" class="rel"/>

<section class="section-center login-register-section">

    <div class="edit-profile-card">
        <h3>Password reset</h3>

        <h4>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a
            new
            one.</h4>

        <br>

        <form class="profile-edit-form" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn" type="submit" value="Submit"/>
        </form>
            <a class="btn" href="{% url "events-list" %}">Home</a>
    </div>
</section>