{% extends "common_stuff/base.html" %}

{% block content %}
<section class="section-center login-register-section">

    <div class="edit-card">
        <h3>Password reset</h3>

        <h4>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a
            new
            one.</h4>

        <br>

        <form class="edit-form pass-form" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn res-pass-btn" type="submit" value="Submit"/>
        </form>
            <a class="btn" href="{% url "events-list" %}">Home</a>
    </div>
</section>
{% endblock content %}