body {
    z-index: -1;
    background: url(../images/pattern.png);
}
:root {
  --bluerust: #0f3149;
  --lightgrey: #b7b1d2;
  --lightcoral: #e1b382;
}
.navbar .logo {
    margin: 15px 30px;
}
.navigation{
    display: flex;
}
.navigation .links{
    display: flex;
}
.navbar {
    position: fixed;
    height: 65px;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    background-color: #3d3c3a;
    z-index: 100;
}

.header-item {
    display: flex;
    margin-right: 25px;
    padding: 12px 12px;
    border: 1px solid var(--bluerust);
    border-radius: 10px;
    align-items: center;
    font-family: cursive;
    font-size: 18px;
    background-color: var(--lightcoral);
    cursor: pointer;
}

.header-item > a {
    color: var(--bluerust);
    text-decoration: none;
}

.header-item:hover {
    background-color: #ddd4bc;
    transition: 0.15s;
    box-shadow: 1px 1px 10px #ddd4bc;
}

.logo:hover {
    transform: scale(1.5);
}

/*=========
  Events
=========*/

.search-container {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 65px;
    height: 30vh;
    left: 0;
    right: 0;
    overflow: auto; /* #TODO make this better */
    background-color: var(--lightgrey);
}

.search-section {
    margin-top: 50px;
    position: relative;
    display: inline-block;
}

.top-text {
    font-family: cursive;
    text-transform: uppercase;
    font-size: 34px;
    letter-spacing: 0.5px;
}

.search-items > .form label {
    position: absolute;
    left: -9999px;
}

.search-items > .form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.form-field {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.text-input::placeholder {
    color: var(--bluerust);
}
.search-input{
    color: var(--bluerust);
}
.form-field .text-input:hover{
    cursor: grab;
}
.search-input:hover {
    transition: 0.15s;
    background-color: #ddd4bc;
    box-shadow: 1px 1px 10px var(--bluerust);
}

.search-items > .form input.text-input {
    padding: 0.5rem 0.5rem;
    width: 30rem;
    font-family: cursive;
    font-weight: 700;
    font-size: 24px;
    outline: none;
    border-radius: 10px;
    letter-spacing: 3px;
    border: 1px solid var(--bluerust);
}

.search-items > .form input.search-input {
    padding: 0.5rem;
    width: 10rem;
    font-family: cursive;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1px;
    border: 1px solid var(--bluerust);
    border-radius: 10px;
    cursor: pointer;

}

/*=======================
  Projects Page
========================*/
.container {
    height: 350px;
}

.projects-list {
    display: flex;
    justify-content: center;
    margin: 375px 0px -90px 0px;
    height: 75vh;

}

.event {
    display: flex;
    justify-content: space-around;
}

.event > .column {
    margin: 60px 80px;
    min-width: 20rem;
    flex-shrink: 1;
}

/*=======================
  Projects Card
========================*/
.card-project {
    border: 2px solid var(--bluerust);
    border-radius: 6px;
    overflow: hidden;
    background-color: whitesmoke;
}

.thumbnail {
    width: 420px;
    height: 250px;
}

.thumbnail-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body {
    padding: 8px 18px;
    font-family: cursive;
    text-align: center;
}
.card-body p {
    margin-bottom: 10px;
}
.event-title {
    font-family: "Times New Roman", Serif, serif; /* TODO - choose better font-family ! */
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.event-author {
    text-decoration: none;
    font-family: "Times New Roman", Serif, serif;
    letter-spacing: 1px;
    font-size: 20px;
}

/*==========
  Paginator
==========*/
.search-info {
    background-color: var(--lightcoral);
    color: var(--bluerust);
    font-size: 26px;
    margin-top: 220px ;
    padding: 0px 20px;
    border-radius: 10px;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.paginator {
    display: flex;
    justify-content: center;

}

.paginator-container {
    display: flex;
    z-index: 2;
    padding: 0;
    margin-top: 45px;
}

.paginator > ul {
    list-style: none;
    gap: 3rem;
}

.btn-page, .btn-page-link {
    font-family: cursive;
    display: flex;
    width: 115px;
    height: 40px;
    background-color: #f1d9b9;
    color: var(--bluerust);
    align-items: center;
    padding: 2px 15px 2px 15px;
    border-radius: 10px;
}

.paginator-container > li > a {
    background-color: var(--lightcoral);
    display: flex;
    justify-content: center;
    text-decoration: none;
}


/* ================================================ */
/*.card {*/
/*    margin: 10px 100px;*/
/*    min-width: 20rem;*/
/*    width: 360px;*/
/*    border: 2px solid black;*/
/*    border-radius: 6px;*/
/*    overflow: hidden;*/
/*    background-color: #fff;*/
/*}*/

/*.thumbnail {*/
/*    width: 360px;*/
/*    height: 360px;*/
/*    !* aspect-ratio: 1 / 1; *!*/

/*    !* background-image: url("https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");*/
/*      background-size: cover;*/
/*      background-repeat: no-repeat;*/
/*      background-position: center center; *!*/
/*}*/

/*.thumbnail__img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*}*/

/*.content {*/
/*    padding: 12px 18px;*/
/*    text-align: center;*/
/*}*/

/*.content__title {*/
/*    font-size: 21px;*/
/*    margin-bottom: 6px;*/
/*}*/

/*.content__badge {*/
/*    display: inline-block;*/
/*    padding: 4px 16px;*/
/*    border-radius: 16px;*/
/*    margin-bottom: 32px;*/
/*    background-color: #fff5f1;*/
/*    color: #ff9671;*/
/*}*/

/*.content__section-title {*/
/*    text-align: left;*/
/*    font-size: 14px;*/
/*    margin-bottom: 6px;*/
/*    color: gray;*/
/*}*/

/*ul.content__projects {*/
/*    border: 1px solid gray;*/
/*    border-radius: 6px;*/
/*    padding: 6px;*/
/*    text-align: left;*/
/*    font-size: 0px;*/
/*}*/

/*.project {*/
/*    background-color: lightgray;*/
/*    border-radius: 4px;*/
/*    display: inline-block;*/
/*    padding: 2px 6px;*/
/*    font-size: 16px;*/
/*    !* margin-right: 4px; *!*/
/*}*/

/*!* .project:last-child{*/
/*      margin-right: 0px;*/
/*  } *!*/
/*.project:first-child {*/
/*    margin-bottom: 4px;*/
/*}*/

/*.project:not(:last-child) {*/
/*    margin-right: 4px;*/
/*}*/
